NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://<user>:<password>@localhost:5432/<db_name>

JWT_SECRET=
SMS_API_KEY=

# Infrastructure Hint Placeholders (P2P Settlement)
TRON_NODE_URL=
HOT_WALLET_ADDRESS=
COLD_WALLET_ADDRESS=